allow mediaserver camera_prop:property_service set;
#allow mediaserver shell_data_file:dir search;

# For text relocations in /system/vendor/lib/libmmjpeg.so
allow mediaserver system_file:file execmod;
